<!DOCTYPE html>
<html xmlns:th="thymeleaf" xmlns:button="button" xmlns:wp="wordpress" xmlns:panel="panel" th:include="layouts/wordpress :: page">
<body>
<div th:fragment="content">
    <wp:section title="Update User Registration">
        <p>Please fill in all fields.</p>
        <form th:action="@{/user/changepw}" method="post" th:object="${data}">
            <table class="form">
                <tr>
                    <td>Existing password:</td>
                    <td><input id="existing" type="password" th:field="*{existing}"/> </td>
                </tr>
                <tr>
                    <td>New password:</td>
                    <td><input id="password1" type="password" th:field="*{password1}"/> </td>
                </tr>
                <tr>
                    <td>Confirm password:</td>
                    <td><input id="password2" type="password" th:field="*{password2}"/> </td>
                </tr>
            </table>
            <p id="#mismatch" class="hidden text-danger">The passwords do not match</p>
            <input id="submit" type="submit" class="btn btn-success" value="Change" disabled="true"/>
            <a th:href="${'/user/edit?user=' + data.username}" class="btn btn-danger">Cancel</a>
            <a class="btn btn-default" onclick="showDialog()">Change password</a>
            <button:edit href="#">Change password</button:edit>
        </form>
        <br/>
    </wp:section>
</div>
</body>
</html>