<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:wp="wordpress" xmlns:panel="panel" th:include="layouts/simple :: page">
<body>
<div th:fragment="content">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h1 class="panel-title">
                <span class="glyphicon glyphicon-exclamation-sign"> </span>
                <span th:text="${error}">Error</span>
            </h1>
        </div>
        <div class="panel-body">
            <p th:text="${message}">message</p>
        </div>
    </div>
</div>
</body>
</html>