<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:panel="http://www.lappsgrid.org" th:include="layouts/bootstrap :: page">
<body>
<div th:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-danger">
                    <div class="panel-heading">Error</div>
                    <div class="panel-body">
                        <p>There was an error processing your request. Please check all
                        the details and try again.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>