<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:button="http://www.lappsgrid.org" th:include="layouts/bootstrap :: page">
<body>
<div th:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>OAuth Client Authorization</h1>
                <p>Use this form to obtain an OAuth token that can be used to retrieve Gigaword
                documents from the Linguistic Data Consortium (LDC).  When you click the
                    <span class="btn btn-sm btn-success">authorize</span> button you will
                    be redirected to the LDC login form. When your LDC credentials have been
                    verified by the LDC you will be redirected back here with a OAuth token
                    that is valid for one hour.  Copy the <em>access token</em> and paste it into
                    applications (e.g. http://galaxy.lappsgrid.org) to retreive documents
                    from the LDC.
                </p>
                <p>NOTE: Even with a valid OAuth token, you will not be able to retreive
                documents from the LDC if you, or your institution, has not purchased access
                to the resource you are trying to use.</p>
                <form action="#" th:action="@{/submit}" method="post" th:object="${client}">
                    <table>
                        <tr>
                            <th>Client ID</th>
                            <td>
                                <select id="client_id" name="client_id" th:field="*{clientId}">
                                    <option th:each="cid : ${clients}" th:value="${cid}" th:text="${cid}">client id</option>
                                </select>
                            </td>
                            <td><input type="submit" value="authorize" class="btn btn-sm btn-success"/></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>